.content {
  position: relative;
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin: 100px auto;
  z-index: 2;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.overlay {
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, .1);
  padding-bottom: 1px;
}

.background {
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}