.root {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 18px;
    opacity: 0.5;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;

    &:hover {
      opacity: 0.5;
      transform: none;
    }
  }

  &:hover, &:active {
    opacity: 0.8;
    transform: translate(1px, 1px);
  }
}


.primary {
  background-color: var(--light-beige);
  padding: 10px 30px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
}

.secondary {
  background-color: yellow;
  color: #777;
}

