.root {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 18px;
    opacity: 0.5;
  }
}

.primary {
  background-color: var(--light-beige);
  padding: 10px 30px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
}

.secondary {
  background-color: yellow;
  color: #777;
}

.root:hover {
  opacity: 0.8;
}
.root:active {
  transform: translate(1px, 1px);
}