.root {
  background-color: transparent;
  border: none;

  img {
    width: 18px;
    opacity: 0.5;
  }
}

.primary {
  background-color: blue;
  color: #fff;
}

.secondary {
  background-color: yellow;
  color: #777;
}

.root:hover {
  opacity: 0.8;
}
.root:active {
  transform: translate(1px, 1px);
}