.headline {
    font-size: 100px;
    margin: 0;
    padding: 5vh 0 5vh 0;
    color: var(--light-beige);
    text-align: center;
    font-weight: 200;
}

.to-do {
    background-color: var(--light-gray);
    min-height: 100vh;
}

.content {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 35px;
    padding: 20px;
}

.tabs {
    padding-bottom: 40px;
    color: var(--black);
    font-size: 13px;
}

.clear {
    float: right;
}

.clear:hover {
    opacity: 0.8;
}

.tabs-button {
    background-color: transparent;
    border: none;
    color: var(--black);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.tabs-button-active {
    border: var(--light-beige) 1px solid;
}

.itemsLeft {
    display: inline-block;
    margin-right: 5vw;
}
.btn {
    display: block;
    margin-right: auto;
}
@media only screen and (max-width: 1377px) {
    .tabs-button, .itemsLeft {
        margin: 0 1vw;
    }

    .tabs {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
        align-items: center;
    }
}